* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
:root {
  --primary: #8b5cf6;
  --primary-hover: #6d28d9;
  --black: #000000;
  --secondary: #f5f3ff;
  --background-admin: #ede9fe;
  --input: #ddd6fe;
  --negative: #ef4444;
  --negative-hover: #dc2626;
}
.content {
  position: absolute;
  width: 65.5vw;
  left: 25%;
  top: 9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header h1 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--black);
  letter-spacing: -0.15rem;
}
.header button {
  background-color: var(--primary);
  border: none;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  color: var(--secondary);
  letter-spacing: -0.05rem;
  transition: 0.15s;
}
.header button:hover {
  background-color: var(--primary-hover);
  transition: 0.15s;
}
thead {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 400;
  outline: 1px solid var(--primary);
}
thead th {
  padding: 1rem 5rem;
}
tbody {
  background-color: var(--secondary);
}
tbody td {
  outline: 1px solid var(--primary);
  padding: 1rem;
  align-items: center;
  text-align: center;
}
td button {
  background: none;
  border: none;
  svg {
    transition: 0.3s;
  }
}
td button:hover {
  svg {
    fill: var(--primary-hover);
    transition: 0.3s;
  }
}
.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagination {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 8px;
  color: var(--black);
  box-shadow: 0px 0px 20px rgba(139, 92, 246, 20%);
}
.pagination p {
  padding: 0.5rem 1rem;
  border-right: 1px solid var(--primary);
  border-radius: 4px;
  border-left: 1px solid var(--primary);
}
.pagination svg {
  scale: 2;
}
.pagination button {
  padding: 12px 16px;
  color: var(--black);
  background-color: var(--secondary);
  cursor: pointer;
  border: none;
}
.pagination button:not(:nth-last-child(1)) {
  border-right: 1px solid var(--primary);
}
.pagination button:first-child {
  border-radius: 4px 0 0 4px;
}
.pagination button:last-child {
  border-radius: 4px;
}
.pagination button:hover {
  color: var(--black);
  background-color: var(--secondary);
}
.pagination button.active {
  color: var(--black);
  background-color: var(--secondary);
}
