* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
:root {
  --primary: #8b5cf6;
  --primary-hover: #6d28d9;
  --black: #000000;
  --secondary: #f5f3ff;
  --background-admin: #ede9fe;
  --input: #ddd6fe;
  --negative: #ef4444;
  --negative-hover: #dc2626;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.card {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
  width: 19vw;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(139, 92, 246, 20%);
}
.card div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
}
.card div h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
}
.card div p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
}
