* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
:root {
  --primary: #8b5cf6;
  --primary-hover: #6d28d9;
  --black: #000000;
  --secondary: #f5f3ff;
  --background-admin: #ede9fe;
  --input: #ddd6fe;
  --negative: #ef4444;
  --negative-hover: #dc2626;
}
body {
  /* background-color: var(--input); */
  background-color: #ddd6fe;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #ddd6fe 20%,
      #ddd6fe 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ddd6fe 20%,
        #ddd6fe 80%,
        transparent 80%,
        transparent
      )
      75px 75px,
    linear-gradient(#c4b5fd 6px, transparent 6px) 0 -3px,
    linear-gradient(90deg, #c4b5fd 6px, #ddd6fe 6px) -3px 0;
  background-size: 150px 150px, 150px 150px, 75px 75px, 75px 75px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 27.5vw;
  text-align: center;
  padding: 4rem 2.5rem;
  border-radius: 15px;
  align-items: center;
}
form h1 {
  font-weight: 700;
  letter-spacing: -0.15rem;
  font-size: 2rem;
}
form input {
  background-color: var(--input);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  transition: 0.15s;
}
form input[type="number"]::-webkit-outer-spin-button,
form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form input::placeholder {
  color: var(--black);
}
form input:focus {
  border: 1px solid var(--primary);
  background-color: var(--secondary);
  transition: 0.15s;
}
.option-fakultas {
  background-color: var(--input);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 1rem 0.75rem;
  width: 100%;
  transition: 0.15s;
}
.option-fakultas:focus {
  border: 1px solid var(--primary);
  background-color: var(--secondary);
  transition: 0.15s;
}
form button {
  background-color: var(--primary);
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  color: var(--secondary);
  width: 100%;
  transition: 0.15s;
}
form button:hover {
  background-color: var(--primary-hover);
  transition: 0.15s;
}
form p {
  font-size: 1rem;
  a {
    color: var(--primary);
  }
}
